* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
}

.block {
  width: 20px;
  height: 20px;
}

.blockContainer {
  width: 70dvw;
  height: 70dvh;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: scroll;
}

h3 {
  margin-bottom: 10px;
}
